.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card_actions {
  display: flex;
  justify-content: center;
}

.parent_card_content {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parent_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.upload_button {
  justify-content: center;
}

.input_file {
  display: none;
}

card_media{
  
}